html, body {
    margin: 0;
    padding: 0;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    height: 100%;
}

li {
    text-decoration: none;
    list-style: none;
    display: block;
    border: 1px solid green;
    width: 90%;
    height: 100px;
    background-color: #444;
    border: 3px solid white;
    border-radius: 1em;
    margin-bottom: 1em;
}

span {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    padding: 1%;
}